.container {
    /*background-color: rgb(196, 196, 196);*/
    max-width: 120vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    padding:1px;
    /*height: 650px;*/
  }

  .button1{
    display: block;
    z-index: 1;
  }

  .button2 {
    display: block;
    z-index: 2;
  }
