.container {
    /*max-width: 120vw;*/
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-gap: 5px;
    margin-top: 0px;
    padding:1px;
    /*height: 650px;*/
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
  }

  .button1{
    display: block;
    z-index: 1;
  }

  .button2 {
    display: block;
    z-index: 2;
  }
