 .contentland {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    width: auto;
    height: 500px;
    padding: 100px 100px;
    background-image: url('../../assets/Formula1.png');
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size:cover; 
  } 

 
/*.button-container {
 display:flex;
 position:relative;
}

.button-container img {
  width:100%;
  height: auto;
 }*/

.contentland button{
  position: absolute;
  bottom:5em;
  right:6em;
  width: 200px;
  height: 60px;
  background-color:#8F0005;
  border-radius:1.5em;
  color:white;
  text-transform:uppercase;
  
  } 



  .divContent {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    
  }
  
  .divContent button {
      font-size: 1em;
      text-align: center;
      margin-right: 1em;
      border-radius: 0.3em;
      color: white;
      border: 1px solid #00539F;
      background-color:#7bb3e8;
      
      
  }
  
 /* .divContent button:hover{
      
      
  }*/