/* .content {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
   
    /*padding: 200px 650px;
    background-image: url('../../assets/Formula1.png');
    /*width: 100%;*/
    /*height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    
  } */

 
.button-container {
 display:flex;
 position:relative;
}

.button-container img {
  width:100%;
  height: auto;
 }

.button-container button{
  position: absolute;
  bottom:2em;
  right:0.7em;
  background-color:#8F0005;
  border-radius:1.5em;
  color:white;
  text-transform:uppercase;
  padding:1.5em 3em;
  
  } 



  .divContent {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    
  }
  
  .divContent button {
      font-size: 1em;
      text-align: center;
      margin-right: 1em;
      border-radius: 0.3em;
      color: white;
      border: 1px solid #00539F;
      background-color:#7bb3e8;
      
      
  }
  
 /* .divContent button:hover{
      
      
  }*/